<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.numicago.android.gasolina"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/station_placeholder"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.numicago.android.gasolina.activities.App" >
        <meta-data
			android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBoNt1qBPG3xzM3jvnrp8rnXNQYgOBm8U4"/>

	    <meta-data
    	 	android:name="com.google.android.gms.version"
      		android:value="@integer/google_play_services_version"/>
	    
		<activity 
		    android:name="com.numicago.android.gasolina.activities.EntranceActivity"
            android:label="@string/app_name" 
            android:noHistory="true">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    
        <activity
            android:theme="@style/Theme.AppCompat.Light"
            android:name="com.numicago.android.gasolina.activities.StationsListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.numicago.android.gasolina.activities.StationDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.numicago.android.gasolina.activities.PreferencesActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>